.main {
    padding: 20px;
    font-family: 'Helvetica', serif;
    box-shadow: 5px 5px 7px 5px #888888;
}

.main h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Helvetica', serif;
}

.nav-wrapper {
    display : flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}


.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottomm 0.5s;
}

.nav-link-wrapper a {
    color : #8a8a8a;
    text-decoration : none;
    transition : color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 3px solid rgb(0, 195, 255);
}

.nav-link-wrapper a:hover {
    color : rgb(1, 124, 133);
}


input {
    font-family: 'Helvetica', serif;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;
}

input[type=submit] {
    font-family: 'Helvetica', serif;
    width: 100%;
    background-color: #767474;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}